node_modules
dist
.env
.env.*
!.env.example
!.env.docker.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
.vscode
.idea
coverage
test
*.md
!README.md
docker-compose*.yml
docker/
.github/
.dockerignore
Dockerfile
.prettierrc
eslint.config.mjs
*.log
